.App {
  font-family: sans-serif;
  text-align: left;
}

.list_persons {
  display: inline-block;
  width: 100px;
}


.list_persons p {
  font-weight: bold;
  display: inline;
}

.ape {
  margin-left: 20px;
}

.num {
  margin-right: 20px;
}
.list {
  border-bottom: 1px solid black;
  width: 630px;
}

.title-list {
  display: inline-block;
  width: 70%;
}

.num {
  width: 15%;
}
